.modal {
  background: #fff;
  box-shadow: 0 10px 30px 8px rgba(69, 69, 69, 0.1);
  border-radius: 8px;
  padding: 30px;
  width: 830px;
  height: max-content;
  margin-left: -150px;
  .title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  .chiefInformation {
    display: flex;
    .productImage {
      height: 370px;
      width: 370px;
    }
    .business {
      margin-left: 30px;
      max-width: 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .curve {
        margin-bottom: 15px;
        .curveTitle {
          color: rgba(69, 69, 69, 0.6);
          font-size: 14px;
          margin-bottom: 4px;
        }
        .curveDescription {
          font-weight: 500;
        }
      }
      .price {
        color: #2CA52A;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .characteristics {
    margin-top: 40px;
    margin-bottom: 50px;
    .title {
      text-align: start;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .curve {
        margin-bottom: 15px;
        width: 380px;
        min-height: 80px;
        .curveTitle {
          color: rgba(69, 69, 69, 0.6);
          font-size: 14px;
          margin-bottom: 4px;
        }
        .curveDescription {
          font-weight: 500;
        }
      }
    }
  }
}