.input {
  position: relative;
  .inputText {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: rgba(69, 69, 69, 0.6);
    margin-bottom: 5px;
    width: 100%;
  }
  .inputDecoration {
    position: absolute;
    right: 0;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .inputField {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    border: {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid rgba(69, 69, 69, 0.9);
    }

    &:focus {
      border: {
        top: none;
        left: none;
        right: none;
        bottom: 2px solid #2CA52A;
      }
      outline: none;
    }
  }
}

.sizeSM {
  width: 165px;
}

.sizeLG {
  width: 300px;
}

.sizeMD {
  width: 207px;
}


/* Error state */
.inputError {
  .inputField {
    border-bottom: 2px solid #FF6B6B;
  }
  .inputText {
    color: #FF6B6B;
  }
}
