.header {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #d7d7d7;
  .dropdown {
    background: #ffffff;
    box-shadow: 0 0 20px rgba(69, 69, 69, 0.1);
    border-radius: 8px;
    padding: 0;
    .dropdownItem {
      height: 63px;
      display: flex;
      align-items: center;
      border-top: 1.5px solid #d7d7d7;
      &:first-child {
        border-top: none;
        &:hover {
          border-radius: 8px;
        }
      }
      &:last-child {
        &:hover {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &:hover {
        color: #2ca52a;
        background: #fff;
      }
    }
  }
}

.controls {
  padding-right: 40px;
  display: flex;
}

.control {
  margin-right: 30px;
}
