version: "3"

services:
  frontend:
    container_name: lavka-frontend
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./src:/app/src
    command: /bin/bash -c "yarn start"

  postgresql:
    image: postgres:12-alpine
    hostname: $${POSTGRES_HOST}
    container_name: lavka-frontend-postgresql
    logging:
      driver: "none"
    env_file:
      - ./environment/postgresql.env

  backend:
    container_name: lavka-backend
    user: appuser
    image: docker.pkg.github.com/lavka-dostavka/lavka-backend/backend
    logging:
      driver: "none"
    env_file:
      - ./environment/backend.env
      - ./environment/redis.env
      - ./environment/postgresql.env
    ports:
      - 8000:8000
    depends_on:
      - postgresql
      - redis
    command: /bin/bash -c "
      ./wait-for.sh $${REDIS_HOST}:$${REDIS_PORT} &&
      ./wait-for.sh $${POSTGRES_HOST}:$${POSTGRES_PORT} &&
      python3 manage.py migrate &&
      python3 manage.py collectstatic --no-input &&
      python3 manage.py runserver 0.0.0.0:8000"

  redis:
    image: redis:5-alpine
    container_name: lavka-frontend-redis
    hostname: $${REDIS_HOST}
    logging:
      driver: "none"
    env_file:
      - ./environment/redis.env

  proxy:
    image: nginx:alpine
    container_name: lavka-frontend-proxy-server
    restart: unless-stopped
    tty: true
    depends_on:
      - frontend
      - backend
    logging:
      driver: "none"
    ports:
      - 8080:80
    volumes:
      - ./environment/nginx/proxy/:/etc/nginx/conf.d/