.button {
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  background: #fff;
  padding: 10px 22px;
  width: max-content;
  transition: all 0.2s;
  font-weight: 600;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  min-width: 86px;
}

.outlined {
  border: 1px solid rgba(44, 165, 42, 0.75);
  box-sizing: border-box;
  &:active {
    border: 2px solid #2CA52A;
  }
}

.primary {
  color: rgba(44, 165, 42, 0.75);
  &:active {
    color: #2CA52A;
  }
}

.green {
  color: #fff;
  background: rgba(44, 165, 42, 0.75);
  &:active {
    background: #2CA52A;
  }
}
