.prompt {
  display: flex;
  .content {
    padding-top: 7px;
    margin-left: 17px;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: rgba(69, 69, 69, 0.9);
    }
    .text {
      padding-top: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
