.productCard {
  width: 190px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-right: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.5s;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .image {
    user-select: none;
    display: flex;
    justify-content: center;
    img {
      width: 120px;
      height: 120px;
    }
    margin: {
      bottom: 20px;
    }
  }
  .title {
    margin-bottom: 33px;
    width: 150px;
    height: 100px;
    font-size: 14px;
  }
  .price {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .button {
    width: 100%;
    z-index: 1000;
  }
}
