.card {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  .content {
    width: 100%;
    display: flex;
    .checkbox {
      zoom: 1.8;
    }
    .contentArea {
      width: 100%;
      padding: 5px 0 0 15px;
    }
  }
  .closeArea {
    cursor: pointer;
    height: 14px;
  }
}
