$amplitude: 3px;

.dot {
  animation: up infinite 1s ease-in-out;
  transition: 0.5s;
}

.dotEven {
  animation: down infinite 1s ease-in-out;
}

@keyframes up {
  0% {
    transform: translateY($amplitude);
  }
  50% {
    transform: translateY(-$amplitude);
  }
  100% {
    transform: translateY($amplitude);
  }
}

@keyframes down {
  0% {
    transform: translateY(-$amplitude);
  }
  50% {
    transform: translateY($amplitude);
  }
  100% {
    transform: translateY(-$amplitude);
  }
}
