.title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: space-between;
  .formColumn {
    height: max-content;
    .input {
      margin-bottom: 25px;
    }
  }
}