.title {
  color: rgba(69, 69, 69, 0.9);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.referenceName {
  color: rgba(69, 69, 69, 0.6);
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}

.referenceContent {
  color: rgba(69, 69, 69, 0.9);
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
}