.select {
	.selectText {
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		color: rgba(69, 69, 69, 0.6);
		margin-bottom: 5px;
		width: 100%;
	}
	.selectField {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 170px;
    border: {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid rgba(69, 69, 69, 0.9);
    }

    &:focus {
      border: {
        top: none;
        left: none;
        right: none;
        bottom: 2px solid #2CA52A;
      }
      outline: none;
    }
	}
	.selectDecoration {
		position: absolute;
		margin: 9px 0 0 155px;
	}
}