.option {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 20px 30px;
  border-top: 1.5px solid #D7D7D7;
  width: 100%;
  cursor: pointer;
}

.gray {
  background: #F6F6F6;
}

.first {
  border: none !important;
}

.white {
  background: #fff;
}

.selected {
  color: #2CA52A !important;
}
