.history {
  background: #F6F6F6;
  border-radius: 8px;
  padding: 40px 30px;
  min-height: 530px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  .orders {
    width: 100%;
    .ordersEmpty {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      .ordersEmptyImage {
        margin-bottom: 40px;
      }
    }
    .title {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 30px;
    }
    &> div {
      margin-bottom: 15px;
    }
  }
  .options {
    max-width: 270px;
  }
}
