.columns {
  display: flex;
  justify-content: space-between;
  .column {
    width: 250px;
    .header {
      h3 {
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
      }
    }
    .content {
      display: flex;
      align-items: flex-start;
      .details {
        margin: 27px 0 0 9px;
        a {
          display: block;
          color: #ffffff;
          font-size: 14px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        a.email {
          text-decoration: underline;
        }
        p {
          color: #ffffff;
          font-size: 14px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }
      img {
        margin: 18px 0 0 0;
      }
    }
    .icons {
      display: flex;
      padding: 30px 0 0 0;
      a.link {
        margin-right: 14px;
      }
    }
  }
}

.copyright {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
