.valueInput {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 40px;
  margin-right: 5px;
  input {
    text-align: center;
  }
}

.control {
  cursor: pointer;
  transition: 0.5s;
}

.disabled {
  filter: grayscale(100%);
}
