
.content {
  padding: 45px 70px 55px 70px;
  height: max-content;
  background: #FFFFFF;
  box-shadow: 0 8px 30px 10px rgba(69, 69, 69, 0.1);
  border-radius: 8px;
}

.buttons {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
  .button {
    margin-left: 15px;
    padding: 0 22px;
    width: max-content;
    height: 40px;
  }
}


