.container {
  display: flex;
  max-width: 770px;
  margin: 30px auto;
  .menu {
    min-width: 434px;
  }
  .options {
    min-width: 270px;
    margin-left: 30px;
    div {
      &:first-child {
        border-top: none;
      }
    }
  }
}
