.order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .productImage {
    max-width: 100px;
  }
  .productInfo {
    display: flex;
    align-items: center;
    .title {
      padding-left: 17px;
      font-weight: 600;
      max-width: 250px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .userInfo {
    display: flex;
  }
  .cost {
    max-width: 200px;
    display: flex;
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
    margin-left: 150px;
    color: #2CA52A;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}
