.icon_layout {  
  &>.icon {
    width: 32px;
    height: 32px;
  }
  cursor: pointer;
  user-select: none;
}

.notifications {
  position: absolute;
  margin: -2.5px 0 0 12.5px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #2CA52A;
  display: flex;
  align-items: center;
  justify-content: center;
  &>p {
    padding-top: 1px;
    display: block;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    color: #fff;
  }
}