.total {
  width: 500px;
  background: #ffffff;
  border-radius: 8px;
  padding: 30px;
  height: max-content;
  .header {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    font-weight: 600;
    font-size: 22px;
    .totalAmount {
      max-width: 120px;
      max-height: 60px;
    }
  }
  .form {
    padding: 20px 0;
    .input {
      padding-bottom: 15px;
      .deliveryTime {
      }
      .label {
        width: calc(100% - 100px);
        font-size: 14px;
      }
      .picker {
        padding-right: 12px;
      }
    }
  }
  .button {
    width: 100%;
    padding: 14px 0;
  }
  .privacy {
    display: flex;
    .icon {
      padding-right: 5px;
    }
    .text {
      word-wrap: break-word;
      font-size: 12px;
      font-weight: 500;
      color: rgba(69, 69, 69, 0.6);
      line-height: 18px;
      .link {
        color: #5b6ea3;
      }
    }
  }
}
