name: delete branch on close
on: 
  pull_request:
    branches: 
      - master
    types: [closed]
  
jobs:
  delete-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: mdecoleman/pr-branch-name@1.0.1
        id: vars
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - if: steps.vars.outputs.branch == 'release'
        run: exit 1
      - if: steps.vars.outputs.branch == 'master'
        run: exit 1
      - name: delete branch
        uses: SvanBoxel/delete-merged-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
