name: Publish Docker production image
on:
  push:
    branches: [ release ]
  workflow_dispatch:

jobs:
  push_to_registry:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build and push docker image
        uses: jerray/publish-docker-action@master
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: lavka-dostavka/lavka-frontend/frontend
          build_args: SSH_KEY=${{ secrets.GIT_SSH_KEY }},MODE=production
          auto_tag: true
      
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: Lavka-Dostavka/lavka-k8s
          event-type: update-prod-cluster
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
